@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: none !important;
}

#product-info {
  br {
    display: none;
  }

  p {
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
}

.star-outline {
  stroke: white;
  stroke-width: 1;
}

.card-image:before {
  display: none;
}

.from-contrast-50 {
  --tw-gradient-from: rgb(var(--color-contrast)) var(--tw-gradient-from-position);
  --tw-gradient-from-position: ;
  --tw-gradient-to: rgba(249, 250, 251, 0) var(--tw-gradient-from-position);
  --tw-gradient-to-position: ;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

:root {
  --shadow-color: 0deg 0% 56%;
  --shadow-elevation-low:
    0.4px 0.6px 0.9px hsl(var(--shadow-color) / 0.32),
    0.8px 1.1px 1.7px -0.9px hsl(var(--shadow-color) / 0.38),
    2px 2.6px 4px -1.9px hsl(var(--shadow-color) / 0.45);
  --shadow-elevation-medium:
    0.4px 0.6px 0.9px hsl(var(--shadow-color) / 0.33),
    1.8px 2.3px 3.5px -0.6px hsl(var(--shadow-color) / 0.38),
    4.2px 5.5px 8.4px -1.3px hsl(var(--shadow-color) / 0.44),
    9.8px 12.9px 19.7px -1.9px hsl(var(--shadow-color) / 0.49);
  --shadow-elevation-high:
    0.4px 0.6px 0.9px hsl(var(--shadow-color) / 0.31),
    3.6px 4.8px 7.3px -0.3px hsl(var(--shadow-color) / 0.33),
    6.7px 8.9px 13.5px -0.5px hsl(var(--shadow-color) / 0.36),
    10.6px 14.1px 21.4px -0.8px hsl(var(--shadow-color) / 0.38),
    16.3px 21.6px 32.9px -1.1px hsl(var(--shadow-color) / 0.4),
    24.7px 32.8px 49.9px -1.4px hsl(var(--shadow-color) / 0.43),
    36.7px 48.7px 74.1px -1.6px hsl(var(--shadow-color) / 0.45),
    53.2px 70.6px 107.4px -1.9px hsl(var(--shadow-color) / 0.48);
}

#visualizer {
  -webkit-transition: height 0.1s ease-in-out !important;
-moz-transition: height 0.1s ease-in-out !important;
-ms-transition: height 0.1s ease-in-out !important;
-o-transition: height 0.1s ease-in-out !important;
transition: height 0.1s ease-in-out !important;

&.fixed {
  /* top: 96px; */
  /* width: calc(100% - 32px); */
}


@media screen and (min-width: 48rem) {
  height: calc(80vh) !important;
  max-height: 500px;
}
}

#patch {
  box-shadow: var(--shadow-elevation-medium);
  -webkit-box-shadow: var(--shadow-elevation-medium);
  -moz-box-shadow: var(--shadow-elevation-medium);
  -o-box-shadow: var(--shadow-elevation-medium);
  -ms-box-shadow: var(--shadow-elevation-medium);

/* 
  -webkit-transition: background-image 0.1s ease-in-out, height 0.4s ease-in-out, width 0.4s ease-in-out !important;
  -moz-transition: background-image 0.1s ease-in-out, height 0.4s ease-in-out, width 0.4s ease-in-out !important;
  -ms-transition: background-image 0.1s ease-in-out, height 0.4s ease-in-out, width 0.4s ease-in-out !important;
  -o-transition: background-image 0.1s ease-in-out, height 0.4s ease-in-out, width 0.4s ease-in-out !important;
  transition: background-image 0.1s ease-in-out, height 0.4s ease-in-out, width 0.4s ease-in-out !important; */
}

#flag {
  -webkit-transition: background-image 0.1s ease-in-out !important;
-moz-transition: background-image 0.1s ease-in-out !important;
-ms-transition: background-image 0.1s ease-in-out !important;
-o-transition: background-image 0.1s ease-in-out !important;
transition: background-image 0.1s ease-in-out !important;

-webkit-transition: transform 0.1s ease-in-out !important;
-moz-transition: transform 0.1s ease-in-out !important;
-ms-transition: transform 0.1s ease-in-out !important;
-o-transition: transform 0.1s ease-in-out !important;
transition: transform 0.1s ease-in-out !important;
}

#patch p {
  -webkit-transition: background-image 0.1s ease-in-out, font-size 0.1s ease-in-out !important;
-moz-transition: background-image 0.1s ease-in-out, font-size 0.1s ease-in-out !important;
-ms-transition: background-image 0.1s ease-in-out, font-size 0.1s ease-in-out !important;
-o-transition: background-image 0.1s ease-in-out, font-size 0.1s ease-in-out !important;
transition: background-image 0.1s ease-in-out, font-size 0.1s ease-in-out !important;

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.swimlane {
  padding-left: 0;
  padding-right: 0;
}


/* Tokens */
:root {
  --color-primary: 20 20 20; /* Text, buttons, etc. */
  --color-contrast: 250 250 250; /* Backgrounds, borders, etc. */
  --color-accent: 191 72 0; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-subheading: 1.75rem; /*  */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 2.5rem; /* text-4xl */
  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --height-nav: 3rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-heading: 2.25rem; /* text-4xl */
    --font-size-display: 3.5rem; /* text-6xl */
  }
  @supports (height: 100svh) {
    --screen-height: 100svh;
  }
  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 250 250 250;
    --color-contrast: 0 0 0;
    --color-accent: 235 86 40;
    /* --color-primary: 250 250 250;
    --color-contrast: 32 33 36;
    --color-accent: 235 86 40; */
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

shop-pay-button {
  width: 100%;
  height: 3rem;
  display: table;
}

@layer base {
  * {
    font-variant-ligatures: none;
  }

  body {
    @apply border-primary/10 bg-contrast text-primary/90 antialiased;
  }

  html {
    scroll-padding-top: 10rem;
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  a.active {
    @apply border-b;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
  }
}

@layer components {
  .article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans text-primary;
    }
    @apply prose mx-auto mb-12 grid justify-center font-serif text-primary;
    p,
    ul,
    li {
      @apply mb-4 text-lg;
    }
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }

  .swimlane {
    @apply grid w-full snap-x snap-mandatory scroll-px-6 grid-flow-col justify-start gap-4 overflow-x-scroll px-6 pb-4;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108%;
      height: 1.5px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--color-primary));
      box-shadow: 0.5px 0.5px 0px 0.5px rgb(var(--color-contrast));
    }
  }

  .card-image {
    @apply relative flex items-center overflow-clip rounded;
    &::before {
      content: ' ';
      @apply absolute top-0 left-0 z-10 block h-full w-full rounded shadow-border;
    }
    img {
      @apply aspect-[inherit] object-cover;
    }
  }
}
